.product-list {
  padding: 50px 0;
  text-align: center;
}

.pl-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  
}

.products-container {
  display: flex;
  justify-content: center;
  gap: 20px; /* Adjust gap between products */
}

.product {
  width: 250px; /* Ensure the product container is 250px wide */
  height: 250px; /* Ensure the product container is 250px high */
  border: 2px solid rgb(243, 242, 242);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.product:hover .product-img {
  transform: scale(1.05);
}

@media screen and (max-width: 768px) {
  .products-container {
    flex-wrap: wrap;
  }

  .product {
    flex: 0 0 calc(50% - 20px); /* Two products per row on smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .product {
    flex: 0 0 calc(100% - 20px); /* One product per row on mobile screens */
  }
}
